@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
background-color: #1AC073;
height: 80px;
width: 1440px;
color: #f0faf0;
font-size: 20px;
/* position: fixed; */
}
.logo{
    font-family:Squada One;
    font-weight:400;
    width: 89px;
    Size:32px;
    line-height:20px;
    font-size: 32px;
    color: #FFFFFF;
}
#Frame30{
    display: flex;
    flex-direction: row;
    Width:1164px;
    Height:24px;
    position: relative;
    Top:26px;
    Left:146px;
    gap: 300px;
    text-decoration: none;
} 
.Menu{
    display: flex;
    gap: 40px;
}
a{
    text-decoration: none;
    color: #f0faf0; 
}
.search-container{
    display: flex;
    width: 80%;
    max-width: 500px;
}
.search-input{
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
.search-button{
    background-color: #F3BA00;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size:16px ;
}
.search-button:hover{
    background-color: #c9a224;
}
#leadingSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1AC073;
    padding-top:100px ;

}
.hero{
    Width:521.63px;
    Height:317px;
    position: relative; 
    margin-top:250px;
    margin-left:132px;
}
.img-hero
{
  Width:500.63px;
    Height:450px;
    position: relative; 
   /* top:239.9px; */
    /* left:774px; */
}   
#kitchen{
    Width:1440px;
    Height:2029px;
    position: relative;
    Top:600px;
    color: #F7F8FA;
}
#kitchen-card{
    Width:1180px;
    Height:1217px;
    Top:105px;
    Left:130px;
    position: relative;
}
#home-card{
    Width:1180px;
    Height:1131px;
    position: relative;
    Top:70px;
    /* border: 1px solid black; */
}
#eat{
    Width:Fixed (1,180px);
    Height:Fixed (336px);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid black; */
    Gap:24px;
    margin-bottom: 56px;
}
.card1{
    Width:277px;
    Height:337px;
    /* border: 1px solid black;  */
}
.card{
width: 277px;
height: 250px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: #1B1C21;

}

#card{
width: 277px;
height: 87px;
top: 250px;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 20px;
padding-left: 24px;
gap: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
background-color: #FFFFFF;
box-shadow: 0px 0px 1px 0px #BBBBBB40;
color: #1B1C21;
}
.one{
width: 246;
height: 20;
display: flex;
justify-content: space-between;
align-items: center;
gap: 92px;

}
.two{
width: 241;
height: 20;
display: flex;
gap: 98px;

}
#one1{
width: 127;
height: 20;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -1.2%;
color: #1B1C21;
}
#one2{
    width: 27;
    height: 19;
    padding-right: 4px;
    padding-left: 4px;
    display: flex;
    gap: 4px;
    border-radius: 5px;
    
}
#two{
width: 22;
height: 20;
border-radius: 5px;
background-color: #F3BA00;

}
#two3{
width: 45;
height: 20;
padding-right: 4px;
padding-left: 4px;
display: flex;
gap: 4px;
border-radius: 5px;
background-color: #F7F8FA;
box-shadow: 0px 0px 1px 0px #00000040;


}
#two2{
    width: 62;
    height: 20;
    padding-right: 4px;
    padding-left: 4px;
    display: flex;
    gap: 4px;
    border-radius: 5px;
    background-color: #F7F8FA;
    
}
.treanding-item{
    Width:Hug (1,178px);
    Height:Hug (410px);
    position: relative;
    Top:80px;
    Gap:37px;
    text-align: center;
    border: 1px solid black;
    background-color:#F7F8FA ;

}
.scroll-cards{
    Width:1178px;
    Height:337px;
    border: 1px solid black;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
}
.scroll-btn{
    Width:71.5px;
    Height:71.5px;
    position: relative;
    Top:150.25px;
    left: 10px;
    Rotation:180°;
    border: 1px solid black;
}
.card2{
    Width:277px;
    Height:337px;
    position: relative;
    right: 140px;
    border: 1px solid black;
    padding-top: 10px;
} 
.scroll-btn-right{
    Width:71.5px;
    Height:71.5px;
    position: relative; 
    left: 600px;
    bottom: 180px;
    margin-right: 15px;
}
.request-a-dish{
    Width:Fixed (210px);
    Height:Fixed (48px);
    Top:1900px;
    Left:615px;
    border-radius:10px;
    padding: 5px;
    position: relative;
    Top:50px;
    Right:25px;
    Bottom:19px;
    Left:25px;
    Gap:10px;
    background-color: #1AC073;
}
 /* pending */



#contactUs{
    width: 1440px;
    height: 603px;
    position: relative;
    top: 600px; 
    /* padding-top: 100px;
    padding-right: 129px;
    padding-bottom: 100px;
    padding-left: 129px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #F7F8FA;  
    
}
.contactUs{
    width: 1181px;
    height: 403px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 103px;
}
.heading-form{
    width: 575px;
    height: 403px; 
    position: relative;
    top: 140px;
    left: 70px;
}
.text{
width: 317px;
height: 73px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5px;
}
.text1{
width: 286px;
height: 48px;
font-family: Roboto;
font-weight: 400px;
font-size: 24px;
line-height: 24px;
letter-spacing: -1.2%;
color: #101115;
}
.text2{
width: 317px;
height: 20px;
font-family: Roboto;
font-weight: 400px;
font-size: 12px;
line-height: 20px;
letter-spacing: -1.2%;
color: #1B1C21;
}
form{
width: 617px;
height: 327px;
position: relative;
/* top: 105px;
left: -0.5px; */
}
.name{
width: 300px;
height: 58px;
border-radius: 10px;
color: #FFFFFF;
box-shadow: 0px 0px 1px 0px #00000040;
position: relative;
top: 40px;
}
.email{
width: 300px;
height: 58px;
position: relative;
left: 20px;
top: 40px;
border-radius: 10px;
color: #FFFFFF;
box-shadow: 0px 0px 1px 0px #00000040;
}
.msg{
width: 617px;
height: 164px;
position: relative;
top: 50px;
/* left: -0.5px; */
border-radius: 10px;
color: #FFFFFF;
box-shadow: 0px 0px 1px 0px #00000040;
}
.sendbtn{
width: 210px;
height: 58px;
position: relative;
top: 60px;
border-radius: 10px;
background-color: #1AC073;
}
.cute-man{
width: 503px;
height: 402px;
}
#footer{
width: 1440px;
height: 137px;
position: relative;
top: 550px;
background-color:#1AC073;
}
.footer-content{
width: 1180.5px;
height: 94px;
position: relative;
}
.hr-line{
    border-bottom: 2px solid #FFFFFF ;
    Width:1180.5px;
    position: relative;
    top: 50px;
    left: 80px;
}